* {
  font-family: "Inter", sans-serif;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 1.4em;
  max-height: 2.8em;
}
